.certificate-container {
    text-align: center;
  }
  
  .download-certificate {
    padding: 0.8rem 1.5rem;
    background-color: #9b2d30;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .download-certificate:hover {
    background-color: #7a2527;
  }
  
  @media (max-width: 768px) {
    .download-certificate {
      font-size: 0.9rem;
      padding: 0.6rem 1.2rem;
    }
  }