.progress-bar-nivel {
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 1rem 0;
  }
  
  .progress-fill {
    height: 100%;
    background: linear-gradient(90deg, #9b2d30, #ffdfdf);
    border-radius: 5px;
    transition: width 0.5s ease;
  }